$background-color: #1f1b2e;
$popup-bg-color: #34224F;
$input-border-color: #ffffff;
$button-bg-color: #a155f1;
$button-hover-bg-color: darken($button-bg-color, 10%);
$close-button-color: rgba(255, 255, 255, 0.6);
$font-color: #ffffff;
$font-color-muted: #ffffff;

.popupOverlay {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.popupContent {
    background-color: $popup-bg-color;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: fit-content;
    text-align: center;
    position: relative;

    h2 {
        color: $font-color;
        margin-bottom: 20px;
    }

    form {
        .formGroup {
            margin-bottom: 20px;

            label {
                display: block;
                color: $font-color-muted;
                text-align: left;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                padding: 12px;
                background-color: transparent;
                border: 1px solid $input-border-color;
                border-radius: 5px;
                color: $font-color;
                font-size: 16px;
                outline: none;

                &:focus {
                    border-color: $button-bg-color;
                }
            }
        }

        .loginBtn {
            width: 100%;
            padding: 12px;
            background-color: $button-bg-color;
            color: #fff;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $button-hover-bg-color;
            }
        }
    }

    .forgotPassword,
    .additionalInfo {
        margin-top: 15px;
        font-size: 14px;
        color: $font-color-muted;

        a {
            color: $button-bg-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .closeBtn {
        position: absolute;
        top: 15px;
        right: 15px;
        background: none;
        border: none;
        color: $close-button-color;
        font-size: 20px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
        }
    }
}

.errorText {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}