
.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    h1 {
            font-size: 24px;
            color: #333;
        }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    a{
        text-decoration: none;
    }
}



.addButton {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    gap: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addButton:hover {
    background-color: #45a049;
    /* Màu xanh đậm hơn khi hover */
}

.tableContainer {
    overflow-x: auto;
    /* Cho phép cuộn khi bảng quá rộng */
}

.artistTable {
    width: 100%;
    border-collapse: collapse;
    thead{
        background-color: #343a40;
        color: white;
    }
}

.artistTable th,
.artistTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.artistTable th {
    font-weight: bold;
}

.artistTable img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.actions {
    display: flex;
    gap: 10px;
    height: 150px;
}

.editButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.editButton:hover,
.deleteButton:hover {
    opacity: 0.8;
    /* Giảm độ mờ khi hover */
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #999;
}
.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #e2e2e2;
}

.pagination button:focus {
    outline: none;
}

.pagination .activePage {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-weight: bold;
}

.pagination button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}