.tableContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  select {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    border: #cccccc50 1px solid;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }

  label {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
  }

  .addButton {
    display: flex;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;

    svg {
      width: 20px;
      color: #fff;
    }
  }

  .searchContainer {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translatey(-50%);
      -webkit-transform: translatey(-50%);
      -moz-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
      -o-transform: translatey(-50%);
      width: 20px;
    }

    input {
      padding: 10px;
      padding-left: 40px;
      border-radius: 1000px;
      border: #cccccc50 1px solid;
      -webkit-border-radius: 1000px;
      -moz-border-radius: 1000px;
      -ms-border-radius: 1000px;
      -o-border-radius: 1000px;
    }
  }
}

.table {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin-top: 40px;

  th {
    padding: 10px;
    background-color: rgba(#000, 0.1);
    color: #333;
    font-size: 16px;
    font-weight: 600;

    &:first-of-type {
      width: 60px;
    }
  }

  tr {
    &:hover {
      button {
        visibility: visible !important;
      }
    }
  }

  td {
    padding: 10px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    scrollbar-width: none;

    &:first-of-type {
      text-align: center;
      width: 60px;
    }

    &:last-of-type {
      text-align: center;
      width: 150px;

      > button {
        padding: 10px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;

        &:hover {
          background-color: #cccccc50;
        }
      }
    }

    &:nth-last-of-type(2) {
      max-width: 100px;
      overflow: auto;
      text-wrap: nowrap;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: #cccccc1f;
    }
  }

  img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .actions {
    button {
      visibility: hidden;
    }
  }
}

.pagination {
  display: flex;
  gap: 10px;

  button {
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &.activePage {
      background-color: #407dc6;
      font-weight: 600;
      color: #fff;
    }

    &:hover {
      background-color: #cccccc50;
    }
  }
}
