/* sidebar.module.scss */
.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #231b2e;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.sidebar__hidden {
  opacity: 0;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #b3b3b3;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
}

.menuItem span {
  font-family: inter;
  font-weight: medium;
  font-size: 13px;
  color: #666276;
  text-decoration: none;
}

.menuItem svg {
  width: 20px;
  height: 20px;
}

.menuItem:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.createPlaylist {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createPlaylist button {
  background-color: rgba(#666276, 0);
  color: rgba(#666276, 1);
  border: 1px solid rgba(#666276, 0.3);
  border-radius: 20px;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  transition: background-color 0.3s;
}

.createPlaylist button svg {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.createPlaylist button:hover {
  background-color: #474764;
}

.csvg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.active {
  background-color: rgba(#ffffff, 0.05);
  border-right: 2px solid #407dc6;

  path {
    // stroke: #ffffff;âm thanh theo thể
    border-width: 1.5px;
  }

  span {
    color: #ffffff;
  }

  /* Highlight background color */
}
.createPlaylist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  button {
    display: flex;
    align-items: center;

    background-color: rgba(#666276, 0);
    color: white;
    border: 1px solid rgba(#666276, 0.3);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }

    &:hover {
      background-color: #9b4de0; /* Màu sáng hơn khi hover */
    }

    &:disabled {
      background-color: #666;
      cursor: not-allowed;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Màu tối với độ trong suốt */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* Đặt chiều rộng của modal */
    max-width: 90%; /* Đảm bảo responsive trên màn nhỏ */
    text-align: center;
    color: white;

    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #555;
      border-radius: 5px;
      background-color: #333;
      color: white;
    }

    button {
      padding: 10px 20px;
      margin: 5px;
      border: none;
      border-radius: 5px;
      background-color: #9b4de0; /* Màu chính */
      color: white;
      cursor: pointer;
      font-size: 14px;

      &:last-of-type {
        background-color: #ff4c3b; /* Màu đỏ cho nút đóng */
        margin-left: 10px;

        &:hover {
          background-color: #ff6659; /* Màu sáng hơn khi hover */
        }
      }
    }
  }
}

.updateBox {
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;

  span {
    font-size: 12px;
    font-weight: 600;
    border-color: #facc15;
    line-height: 1.67;
    color: #fff;
    display: block;
  }
  svg {
    height: 100%;
    width: 32px;
  }

  .content {
    margin-bottom: 10px;
  }

  .btn {
    background-color: #facc15;
    border-color: #facc15;
    color: var(--black);
    display: inline-block;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
}
