$background-color: #1f1b2e;
$popup-bg-color: #34224f;
$input-border-color: #ffffff;
$button-bg-color: #a155f1;
$button-hover-bg-color: darken($button-bg-color, 10%);
$close-button-color: rgba(255, 255, 255, 0.6);
$font-color: #ffffff;
$font-color-muted: #ffffff;

.popupOverlay {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  //background-color: rgba(18, 18, 18, 0.9);
  //backdrop-filter: blur(6px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.backToLogin {
  a {
    color: #a155f1;
    text-decoration: none;
  }
}

.popupContent {
  background-color: rgba(18, 18, 18, 0.9);
  backdrop-filter: blur(6px);
  padding: 30px 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  position: relative;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .logo {
    width: 60px;
    margin: 0 0 10px 0;

    img {
      width: 100%;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #fff;
  }

  form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;

    .formGroup {
      // margin-bottom: 20px;

      label {
        display: block;
        color: $font-color-muted;
        text-align: left;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px 20px;
        background-color: transparent;
        background-color: rgba(255, 255, 255, 0.05);
        height: 40px;
        border-radius: 100px;
        color: $font-color;
        font-size: 14px;
        outline: none;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;

        &:focus {
          border-color: $button-bg-color;
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.3);
          font-weight: 200;
        }
      }
    }

    .loginBtn {
      width: 100%;
      //padding: 12px;
      background-color: $button-bg-color;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      height: 40px;
      margin-top: 40px;
      margin-bottom: 20px;

      &:hover {
        background-color: $button-hover-bg-color;
      }
    }
  }

  .forgotPassword,
  .additionalInfo {
    font-size: 14px;
    color: $font-color-muted;

    a {
      color: $button-bg-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: $close-button-color;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
