.searchResultsContainer {
    padding: 20px;
    color: white;
    /* Màu chữ trắng để nổi bật trên nền tối */
}

.searchResultsContainer h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    /* Khoảng cách dưới tiêu đề */
}

/* Grid chung cho các danh sách */
.searchResultsGrid,
.musicList,
.artistList {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0 40px;
    text-decoration: none;

    a {
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        /* Xóa gạch chân cho thẻ a */
    }

    p {
        text-decoration: none;
    }
}

.albumCard {
    text-decoration: none;
}

/* Định dạng cho danh sách bài hát */
.musicList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 bài hát trong 1 hàng */
    gap: 20px;
    /* Khoảng cách giữa các bài hát */
}

/* Định dạng cho danh sách nghệ sĩ */
.artistList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 nghệ sĩ trong 1 hàng */
    gap: 20px;
    /* Khoảng cách giữa các nghệ sĩ */
}

.musicItem,
.artistItem {
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.musicItem:hover {
    background-color: #2b2b2b;
}

.artistItem:hover {
    background-color: #2b2b2b;
}

/* Kích thước hình ảnh */
.musicImage,
.artistImage {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.musicInfo,
.artistInfo {
    flex-grow: 1;
}

.musicName,
.artistName {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.composerName,
.artistDescription {
    font-size: 14px;
    color: #b3b3b3;
    margin: 5px 0 0 0;
}

/* Phân trang */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
        padding: 5px 10px;
        margin: 0 5px;
        color: #fff;
        background-color: transparent;
        border: 2px solid #2B2335;
        border-radius: 10px;
        cursor: pointer;

        &:disabled {
            background-color: #20bfcd50;
            cursor: not-allowed;
        }
    }

    span {
        margin: 0 10px;
        font-size: 1rem;
        color: white;
    }
}

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.headerSection h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.all {
    display: flex;
    align-items: center;
    gap: 10px;
}

.viewAllButton {
    color: #89858F;
    font-size: 16px;
    text-decoration: none;
    /* Xóa gạch chân cho thẻ a */
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
}

.viewAllButton:hover {
    color: #6c63ff;
}

.csvg {
    fill: #ffffff;
    transition: fill 0.3s ease;
}

.csvg:hover {
    fill: #6c63ff;
}

.albumGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
}

.albumCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.albumWrapper {
    position: relative;
    width: 90%;
    height: 90%;
}

.albumCover {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.albumTitle {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.albumCard a {
    text-decoration: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    padding: 0 30px;
    transition: opacity 0.3s ease;
}

.albumWrapper:hover .overlay {
    opacity: 1;
}

.playButton,
.likeButton,
.moreButton {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.likeButton svg,
.playButton svg,
.moreButton svg {
    width: 30px;
    height: 30px;
    stroke: #FFFFFF;
    fill: none !important;
}

.artistName {
    color: #726E79;
    text-decoration: none;
}

.musicItem a,
.artistItem a {
    text-decoration: none;
}